.container {
  display: flex;

  white-space: nowrap;
  gap: 3.5rem;
  padding: 3.3rem 3.5rem 0 4.3rem;
}

.cards {
  width: 25%;
  cursor: pointer;
  position: relative;
  max-width: 30vh;
}

.card_name {
  color: white;
  font-size: 2rem;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  white-space: wrap;
  font-weight: bold;
  position: absolute;
  text-align: center;
}

img {
  background-size: cover;
  border-radius: 1.5rem;
  display: block;
  filter: brightness(50%);
  width: 100%;
}
